version: '3.8'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql_lab
    environment:
      SA_PASSWORD: "B18n81e1881"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: always

  webapp:
    build:
      context: .                  # <--- FONTOS: A gyökér (ahol az .sln van)
      dockerfile: WebMVC/Dockerfile # <--- Megmondjuk, hol a recept a gyökértől nézve
    container_name: mvc_lab_app
    ports:
      - "8080:8080"
    environment:
      ConnectionStrings__DefaultConnection: "Server=mssql;Database=LabDB;User Id=sa;Password=B18n81e1881;TrustServerCertificate=True;"
    depends_on:
      - mssql
    restart: always

volumes:
  mssql_data: