@model EduPortal.Logic.DTOs.IdentityDTOs.LoginDTO

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Login</h2>

            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>

                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" id="Password" />
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                onclick="togglePassword('Password', this)">
                            Show
                        </button>
                    </div>

                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a asp-action="Register" asp-controller="Account" class="btn btn-outline-success" id="registerBtn">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
