html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
  height: 100%;
  margin: 0;
}

.content-wrapper {
    min-height: calc(100vh - 150px);
}
.banner-max-width {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.nav-tabs .nav-link {
    color: #198754;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    }
.course-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}